/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require jquery-ui/datepicker
 */

$brightgreen: #4dff4d;
$lightgreen: #bbff99;
$prettyblue: #33cccc;
$white: #ffffff;
$darkblue: #003333;
$darkgrey: #4d4d4d;
$flashred: #cc0000;

body {
  background: url("rainy4.jpg") no-repeat center center fixed;
  background-color: none;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}

// #main-sign-up {
//   border: 8px solid $white;
//   border-radius: 20px;
//
//   font-size: 40px;
//   padding: 20px;
// }

#flash-notices {
  color: $white;
  background-color: $prettyblue;
  display: none;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  margin-bottom: 5px;
  text-align: center;
}

.margin-devise {
  background-color: $white;
  border-left: solid 5px $darkgrey;
  border-radius: 25px;
  border-right: solid 5px $darkgrey;
  margin-bottom: 90px;
  margin-top: 50px;
  opacity: 0.9;
  padding: 10px;
}

#sign-up-hover {
  font-weight: bold;
  border: 10px solid $prettyblue;
  border-radius: 1000%;
  color: $white;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  height: 300px;
  line-height: 300px;
  text-align: center;
  vertical-align: center;
  -webkit-filter: blur(6px);
  width: 300px;
}

#sign-up-hover:hover {
  color: $white;
}

#sign-up-div {
  margin-top: 100px;
  text-align: center;
}

.hidden {
  display: none;
}

label {
  color: $darkblue;
}

.pill {
  border-radius: 5px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

@media only screen and (max-width: 40em) {
  .top-bar-right {
    padding: 0;
    text-align: right;
  }
  .top-bar-right li {
    display: list-item;
  }
}
