$background-green: #e6fff3;
$white: #ffffff;
$lightgreen: #bbff99;

.bill-index {
  margin-bottom: 100px;
  margin-top: 50px;
  padding-left: 0;
  padding-right: 0;
}

.bill-padding {
  background-color: $white;
  border-radius: 15px;
  opacity: 0.9;
  margin: 10px;
  padding: 10px;
}

.mini-bills {
  margin-bottom: 5px;
  margin-top: 5px;
}

.index-bill-name {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;

}

.right-aligned {
  text-align: right;
}
