$white: #ffffff;
$background-white: rgba(255, 255, 255, 0.8);
$darkgrey: #4d4d4d;
$prettyblue: #33cccc;

.bill-name-centered {
  background-color: $darkgrey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: $white;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.bill-show-wrapper {
  background-color: $background-white;
  border-radius: 15px;
  color: $darkgrey;
  font-family: 'Roboto Slab', serif;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: scroll;
  padding: 0;
  padding-bottom: 20px;
}

.columns.bill-show-wrapper {
  padding-left: 0;
  padding-right: 0;
}

.back-button {
  margin-top: 10px;
}

.centered {
  text-align: center;
}

.button-wrapper {
  margin-top: 20px;
}

.small-header {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.payments-wrapper {
  margin-top: 20px;
}

.payment-area {
  border: 1px solid $prettyblue;
  border-radius: 5px;
  margin-bottom: 3px;
  padding: 5px;
}
