$background-green: #e6fff3;
$white: #ffffff;
$lightgreen: #bbff99;
$prettyblue: #33cccc;

.bill-index {
  padding-left: 0;
  padding-right: 0;
}

.bill-padding,
 .white-background {
  background-color: $white;
  border-radius: 15px;
  opacity: 0.9;
  margin: 10px;
  padding: 10px;
}

.mini-bills {
  margin-bottom: 5px;
  margin-top: 5px;
}

.index-bill-name {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;

}

.right-aligned {
  text-align: right;
}

.hidden-form {
  margin: 10px;
}

#add-bill-button {
  margin-bottom: 0;
  background-color: $prettyblue;
}
