$white: #ffffff;
$prettyblue: #33cccc;
$darkgrey: #4d4d4d;
$greyhover: #666666;

$brightgreen: #4dff4d;
$lightgreen: #bbff99;
$prettyblue: #33cccc;
$white: #ffffff;
$darkblue: #003333;
$darkgrey: #4d4d4d;
$flashred: #cc0000;

$lightgreen: #bbff99;
$darkblue: #003333;
