$peach: #1a1a1a;
$white: #ffffff;
$prettyblue: #33cccc;
$lightgreen: #bbff99;
$darkblue: #003333;
$darkgrey: #4d4d4d;
$greyhover: #666666;

#logo {
  bottom: -4px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 40px;
  font-weight: bold;
  left: 5px;
  letter-spacing: 5px;
  position: absolute;
}

.header-color {
  color: $darkgrey;
}

.header-color:hover {
  color: $greyhover;
}

.top-bar-right {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  padding-top: 25px;
}

.sticky-top {
  padding: 0;
}

.circle-header {
  background-color: $prettyblue;
  border-radius: 50%;
  -webkit-filter: blur(15px);
  height: 50px;
  margin-left: 17px;
  width: 50px;
}

.left-header {
  padding-top: 10px;
  position: relative;
}
